# Dependencies
code/node_modules
code/.pnp
code/.pnp.js

# Testing
code/coverage

# Next.js
code/.next/
code/out/

# Production
code/build

# Misc
code/.DS_Store
code/*.pem

# Debug
code/npm-debug.log*
code/yarn-debug.log*
code/yarn-error.log*

# Local env files
code/.env*.local

# Vercel
code/.vercel

# TypeScript
code/*.tsbuildinfo
code/next-env.d.ts